* {
    background-color: aqua;
}

div.a {
    font-size: 60px;
    margin: 10px 10px 20px;
    background-color: red;
    text-align: center;
    padding
}

div.b {
    font-size: 60px;
    margin: 10px 10px 20px;
    background-color: sienna;
    text-align: end;
}