@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}


li, a, button {
    font-family: 'Reggae One', cursive;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font
}
